
/* Footer slide in/out */
div.panelz,p.flip
{
margin:0px;
width: 10px;
float:right;
cursor:pointer;
}
div.panelz
{
height:20px;
display:none;
width: 90px;
float:right;
text-align: right;
cursor:pointer;
padding-left: 20px;
}
/* END */

/* Tabs */
/******* MENU *******/  
#tabstitle {padding: 30px 0 12px 3px; font-size:16px; color:#fff;}
#container{  
    margin: 0 auto 10px;
    width: 200px;  
		-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
}  
#container ul{  
    list-style: none;  
    list-style-position: outside;
	margin: 0 0 0 9px;

}  
#container ul.menutabs li{  
    float: left;  
    margin-right: 5px;  
    margin-bottom: -1px;  
}  
#container ul.menutabs li{  
    font-weight: 700;  
    display: block;  
    padding: 5px 5px 5px 5px;  
    background: #4688ed;  
    margin-bottom: -1px;  
    border: 1px solid #d0ccc9;  
    border-width: 1px 1px 1px 1px;  
    position: relative;  
    color: #fff;  
    cursor: pointer;  
	margin-top: -25px;
	border-radius:5px;
}  
#container ul.menutabs li.active {
    background: none repeat scroll 0 0 #346796;
    border-bottom: 0 none;
    color: #fff;
    margin-top: -25px;
    top: 1px;
	border-radius:5px;	
} 

.content{  
    margin: 0pt auto;   
    background: #4688ed;  
    border: 1px solid #d0ccc9;  
    text-align: left;  
    padding: 10px;  
	color:#fff;
    padding-bottom: 10px;  
    font-size: 12px;  
		-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
}  
.content h3{  
    padding: 10px 10px 10px 0px;
	margin-top:15px;
	text-align: left;
}  

.content.news{  
    display: block;  
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	padding-top: 15px;
}  

.content.tutorials{  
    display: none;  
	padding-top: 15px;
}  

.content.links{  
    display: none;  
	padding-top: 43px;
}  
 
/* TABS END */
/*To Top*/
.nav_up{
	padding:7px;
	background-color:white;
	border:1px solid #555;
	position:fixed;
	background:transparent url(../images/arrow_up.png) no-repeat top left;
	background-position:50% 50%;
	width:20px;
	height:20px;
	bottom:10px;
	opacity:0.7;
	right:30px;
	white-space:nowrap;
	cursor: pointer;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
	-khtml-border-top-right-radius:3px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.nav_up:hover { border:1px solid #ccc;}
/* END */