#wowslider-container1 {
	zoom: 1;
	position: relative;
	/* max-width:960px; */
	/* ------------------------------------- 1 edit --------------------------*/
	margin: 0px auto 111px;
	z-index: 90;
	border: none;
	text-align: left;
	/* reset align=center */
	font-size: 10px;
}
* html #wowslider-container1 {
	width: 960px;
}
#wowslider-container1 .ws_images ul {
	position: relative;
	width: 10000%;
	height: auto;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li {
	width: 1%;
	line-height: 0;
	/*opera*/
	float: left;
	font-size: 0;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}
#wowslider-container1 .ws_images {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#wowslider-container1 .ws_images a {
	width: 100%;
	display: block;
	color: transparent;
}
#wowslider-container1 img {
	max-width: none !important;
}
#wowslider-container1 .ws_images img {
	width: 100%;
	border: none 0;
	max-width: none;
	padding: 0;
	margin: 0;
}
#wowslider-container1 a {
	text-decoration: none;
	outline: none;
	border: none;
}
#wowslider-container1 .ws_bullets {
	font-size: 0px;
	float: left;
	position: absolute;
	z-index: 70;
}
#wowslider-container1 .ws_bullets div {
	position: relative;
	float: left;
}
#wowslider-container1 .wsl {
	display: none;
}
#wowslider-container1 object {
	position: absolute;
}
#wowslider-container1 .ws_photoItem {
	border: 2em solid #FFF;
	margin-left: -2em;
	margin-top: -2em;
}
#wowslider-container1 .ws_bullets {
	padding: 10px;
}
#wowslider-container1 .ws_bullets a {
	margin-left: 5px;
	width: 14px;
	height: 13px;
	background: url(./bullet.png) left top;
	float: left;
	text-indent: -4000px;
	position: relative;
	color: transparent;
}
#wowslider-container1 .ws_bullets a:hover {
	background-position: 0 50%;
}
#wowslider-container1 .ws_bullets a.ws_selbull {
	background-position: 0 100%;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position: absolute;
	display: none;
	top: 50%;
	margin-top: -2.6em;
	z-index: 60;
	width: 53px;
	height: 53px;
	background-image: url(./arrows.png);
	background-size: 200%;
}
#wowslider-container1 a.ws_next {
	background-position: 100% 0;
	right: 15px;
}
#wowslider-container1 a.ws_prev {
	left: 15px;
	background-position: 0 0;
}
#wowslider-container1 a.ws_next:hover {
	background-position: 100% 100%;
}
#wowslider-container1 a.ws_prev:hover {
	background-position: 0 100%;
}
* html #wowslider-container1 a.ws_next, * html #wowslider-container1 a.ws_prev {
	display: block;
}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {
	display: block;
}
/*playpause*/
#wowslider-container1 .ws_playpause {
	display: none;
	width: 5.3em;
	height: 5.3em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2.6em;
	margin-top: -2.6em;
	z-index: 59;
	background-size: 100%;
}
#wowslider-container1:hover .ws_playpause {
	display: block;
}
#wowslider-container1 .ws_pause {
	background-image: url(./pause.png);
}
#wowslider-container1 .ws_play {
	background-image: url(./play.png);
}
#wowslider-container1 .ws_pause:hover, #wowslider-container1 .ws_play:hover {
	background-position: 100% 100% !important;
}
/* bottom center */
#wowslider-container1 .ws_bullets {
	bottom: 0px;
	left: 50%;
}
#wowslider-container1 .ws_bullets div {
	left: -50%;
}
#wowslider-container1 .ws_bullets .ws_bulframe {
	bottom: 20px;
}
#wowslider-container1 .ws-title {
	/* text info */
	position: absolute;
	bottom: 1.5em;
	left: 0;
	margin: 1.5em;
	z-index: 50;
	color: #FFF;
	/*text-shadow: 0px 0px 3px #000000;*/
	/* font-family: 'Oranienbaum',Georgia,serif; */
	/* ------------------------------------- 2 edit --------------------------*/
	line-height: 1.5em;
	font-weight: bold;
}
#wowslider-container1 .ws-title div, #wowslider-container1 .ws-title span {
	/* text info */
	display: inline-block;
	padding: 0.7em;
	background: rgba(255, 255, 255, 0.4);
	/* border: 1px solid #FFFFFF; */
	/* border-radius:0.3em; */
	/* ------------------------------------- 3 edit --------------------------*/
	/* -webkit-border-radius: 0.3em; */
	/* -moz-border-radius: 0.3em; */
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
#wowslider-container1 .ws-title div {
	display: block;
	margin-top: 0.5em;
	font-size: 1.4em;
	line-height: 1.6em;
	font-weight: normal;
}
#wowslider-container1 .ws-title span {
	font-size: 2.8em;
}
#wowslider-container1 .ws_thumbs {
	font-size: 0px;
	/* position:absolute; */
	/* ------------------------------------- 4 edit --------------------------*/
	position: relative;
	overflow: auto;
	z-index: 70;
}
#wowslider-container1 .ws_thumbs img {
	text-decoration: none;
	border: 0;
	width: 100%;
}
#wowslider-container1 .ws_thumbs a {
	position: relative;
	text-indent: -4000px;
	color: transparent;
	opacity: 0.85;
	text-decoration: none;
	display: inline-block;
	border: 0;
	margin: 0.49%;
	/* ------------------------do not change this. it is used in globals as variable for calculation ---------------*/
	text-indent: 0;
	padding: 0.29%;
	/* ----------------------  do not change this. it is used in globals as variable for calculation ---------------*/
	/* width: 23.44%; */
	/* 5 edit */
	/* ----------------------  do not change this. it is used in globals as variable for calculation ---------------*/
}
#wowslider-container1 .ws_thumbs a:hover {
	opacity: 1;
}
#wowslider-container1 .ws_thumbs a:hover img {
	visibility: visible;
}
#wowslider-container1 .ws_thumbs {
	bottom: -30.83%;
	left: 0;
	width: 100%;
	max-height:$thumbFullHeight$px;
}
#wowslider-container1 .ws_thumbs div {
	position: relative;
	letter-spacing: -4px;
	/* width:106.68%; */
	/* ------------------------------------- 6 edit --------------------------*/
}
#wowslider-container1 .ws_thumbs a.ws_selthumb {
	opacity: 1;
}
#wowslider-container1 .ws_thumbs a {
	background-color: #FFFFFF;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
#wowslider-container1 .ws_images ul {
	animation: wsBasic 16s infinite;
	-moz-animation: wsBasic 16s infinite;
	-webkit-animation: wsBasic 16s infinite;
}
@keyframes wsBasic {
	0% {
		left: 0%;
	}
	12.5% {
		left: 0%;
	}
	25% {
		left: -100%;
	}
	37.5% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	62.5% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	87.5% {
		left: -300%;
	}
}
@-moz-keyframes wsBasic {
	0% {
		left: 0%;
	}
	12.5% {
		left: 0%;
	}
	25% {
		left: -100%;
	}
	37.5% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	62.5% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	87.5% {
		left: -300%;
	}
}
@-webkit-keyframes wsBasic {
	0% {
		left: 0%;
	}
	12.5% {
		left: 0%;
	}
	25% {
		left: -100%;
	}
	37.5% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	62.5% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	87.5% {
		left: -300%;
	}
}
#wowslider-container1 .ws_bullets a img {
	text-indent: 0;
	display: block;
	bottom: 15px;
	left: -120px;
	visibility: hidden;
	position: absolute;
	border: 2px solid #FFFFFF;
	border-radius: 0px;
	max-width: none;
}
#wowslider-container1 .ws_bullets a:hover img {
	visibility: visible;
}
#wowslider-container1 .ws_bulframe div div {
	height: 90px;
	overflow: visible;
	position: relative;
}
#wowslider-container1 .ws_bulframe div {
	left: 0;
	overflow: hidden;
	position: relative;
	width: 240px;
	background-color: #FFFFFF;
}
#wowslider-container1 .ws_bullets .ws_bulframe {
	display: none;
	overflow: visible;
	position: absolute;
	cursor: pointer;
	border: 2px solid #FFFFFF;
	border-radius: 0px;
}
#wowslider-container1 .ws_bulframe span {
	display: block;
	position: absolute;
	bottom: -9px;
	margin-left: -2px;
	left: 120px;
	background: url(./triangle.png);
	width: 15px;
	height: 8px;
}
