.heading
{
	background: #1a3867 !important;
	display: block;
	padding: 5px;
	font-weight: bold;
	color: #fff;
	border-radius: 2px;
	font-size: 13px;
	text-transform: lowercase !important;
	line-height: 24px;
}
.sub-heading
{
	background: #FF9900 !important;
	display: block;
	padding: 5px;
	font-weight: bold;
	color: #fff;
	border-radius: 2px;
	font-size: 13px;
	text-transform: lowercase !important;
	line-height: 24px;
	
}

.nav-tabs
{
border-bottom: 1px solid #ccc;
}
.temp_description 
{
border: 2px solid #eee;
padding: 10px;
color: #666;
}
.tab-content
{
border: 2px solid #eee;
padding: 10px;
}


ul#myTabTabs.nav.nav-tabs:before,
ul#myTabTabs.nav.nav-tabs:hover:before,
ul#myTabTabs.nav.nav-tabs a[href="#details"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-style"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-logo"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-mobile"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-suffix"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#attrib-analytics"]:before,
ul#myTabTabs.nav.nav-tabs a[href="#assignment"]:before {

  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;
  position: relative;
  padding-right: 10px;
  color: #444;
  font-size: 11px;
  text-transform: lowercase;
}

div#myTabContent .span6 {
  margin-top: 14px;
  margin-left: 0;
  width: 100%;
}
ul#myTabTabs.nav.nav-tabs li a {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 7px 14px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top,#ffffff 0%,#ededed 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#ededed));
  background: -webkit-linear-gradient(top,#ffffff 0%,#ededed 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#ededed 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#ededed 100%);
  background: linear-gradient(top,#ffffff 0%,#ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ededed',GradientType=0);
  color: #FF9900;
  font-weight: bold;
  font-size: 13px;
  text-transform: none;
 
}
ul#myTabTabs.nav.nav-tabs li.active a,
ul#myTabTabs.nav.nav-tabs > li a:hover {
  background: #FF9900;
  color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 0;
}
ul#myTabTabs.nav.nav-tabs a:hover:before,
ul#myTabTabs.nav.nav-tabs li.active a:before {
  color: #fff;
  border-radius: 0;
}

div#myTabContent .control-group hr { border-top: 1px solid #dddddd; border-bottom: 1px solid #ffffff; width: 38em; }
div#myTabContent .control-label { width: 20em; }
div#myTabContent textarea { width: 400px; }

@media handheld, only screen and (max-width: 800px) {

  ul#myTabTabs.nav.nav-tabs {
    border: 0px none;
  }
  ul#myTabTabs.nav.nav-tabs > li {
    float: none;
  }
  ul#myTabTabs.nav.nav-tabs li a,
  ul#myTabTabs.nav.nav-tabs li.active a,
  ul#myTabTabs.nav.nav-tabs > li a:hover {
    border-radius: 0;
  }
  ul#myTabTabs.nav.nav-tabs li a {
    background-color: #fff;
  }

}

