/*MD*/
.crate {
	min-height: 20px;
	/*padding: 10px;*/
	margin-bottom: 20px;
	border: 0;
	color: #999;
	/*background-color: rgba(16, 16, 16, 0.8);*/
}

#left_side_bar .crate, #left_side_bar .crate h3 {
}

.crate h3 {
	line-height: normal;
	padding-top: 3px;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: none;
	line-height: 25px;
	color: #333;
}

header .container_12 .crate, footer .container_12 .crate {
	border: 0;
	background-color: transparent !important;
	background: none;
	margin-bottom: 0;
	box-shadow: none;
}

#main_body {
	color: #999;
}

#main_body.crate {
	background-image: none !important;
}

header .crate {
	border: 0px !important;
}

/*NV*/
#hor_nav {
	min-height: 55px;
}

#hor_nav, #hor_nav .menu a {
	line-height: 55px;
}

#hor_nav .menu ul a {
	background-color: #FFFFFF;
	color: #2056AE !important;
}

#hor_nav #current a {
	background-color: #FF9900;
	color: #FFF;
}

#hor_nav .menu > li > a:hover, #hor_nav .menu > li.sfHover > a, #hor_nav .menu > .active > a, #hor_nav .active > a:hover, #hor_nav .active > a:hover {
	background-color: #2056AE;
	color: #FFF !important;
}

#hor_nav .menu ul li > a:hover, #hor_nav .menu ul li > .active > a, #hor_nav ul li.active > a {
	color: #FFF !important;
	background-color: rgba(32, 86, 174, 0.8);
}

#hor_nav li a {
}

#hor_nav .deeper.parent ul li a {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: #FFF !important;
}

/*GN*/
header {
  margin-bottom: 30px;
}

main {
}

footer {
	/*padding-top: 20px;*/
	margin-top: 20px;
}

#wrap .container_12 {
}

body h1, body h2, body h3, body h4, body h5, body h6 {
	line-height: normal;
	margin-bottom: 0.3em;
	text-transform: none;
	font-size: 2em;
}

ul.actions {
	float: right;
}

/*SL*/
.slideshow {
  background-color: #2056AE;
  margin-top: 15px;
}

.slideshow .wrap {
  padding: 0;
}

#wowslider-container1 {
	margin-bottom: 0;
}

#wowslider-container1 .ws-title {
	line-height: normal;
	bottom: 0;
}

/*SR*/
.search label {
	display: none !important;
}

.search input {
	color: #FFFFFF;
	border-radius: 0;
	line-height: normal;
	background-color: #FFFFFF;
	border: 0;
	margin-bottom: 0;
	box-shadow: none;
	float: right;
}

/*CP*/
.copr {
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
}

.copr a {
	text-decoration: underline;
}

/*LG*/
.site-title {
	font-size: 35px;
	font-weight: bold;
	color: #333333;
}

.site-description {
	font-size: 18px;
	font-weight: bold;
}

/*XM*/
body {
	background-color: #000;
	background: url(../images/backgrounds/body_bg_default.png) center top;
}

nav {	/*background: url(../images/backgrounds/header_bg_default.png);	background-color: rgba(0, 0, 0, 0.5);*/
}

.wrap {
	/*background-color: rgba(0, 0, 0, 0.2);*/
	width: 980px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

nav .wrap {
  padding-top: 0;
  width: 710px;
}

header .wrap .container_12 .grid_6 .crate {
  float: left;
  margin-right: 20px;
}

header .wrap .container_12 .grid_6 nav {
  float: left;
}

header {
}

#main {
	color: #333;
}

footer {
	color: #333;
	background-color: rgba(0, 0, 0, 0.5);
}

#hor_nav {
  	border: 0;
	margin-left: 0px;
	margin-right: 0px;
	/*background-color: rgba(204, 0, 0, 0.4);*/
}

#bottom {
	color: #333;
}
